
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.foter a {
  color: var(--text-muted);
  text-decoration: none;
}

.foter a:hover {
  text-decoration: underline;
}